/* PC */
@media (max-width :1024px) {
    
}
/* Tablet */
@media (min-width:741px) and (max-width :1023px) {
    
}

/* Tablet & Mobile*/
@media(max-width :1023px){
    .contact-input .form-control {
        padding: 15px;
        font-size: 16px;
    }
    .s-full-width{
        width: 100% !important;
    }
    .contact-send {
        padding: 20px 16px;
    }
    .social-list{
        font-size: 48px;
    }
    .footer .social-list a{
        margin: 0 8px;
    }
    .footer .coppyright {
        padding: 12px 0;
        display: inline-block;
    }
    #nav .supnav a {
        padding: 10px 18px;
    }
    .contact-info {
        font-size: 26px;
        line-height: 2;
    }
    .contact-send-btn-s{
        font-size: 16px;
    }

}
/* Mobile */
@media (max-width :739px) {
    #nav {
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav > li a{
        padding: 1px 24px;
    }

    #nav .supnav {
        position: unset;
        background-color: #333;
    }
    #nav .supnav a {
        color: white;
        padding: 5px 41px;
    }

    #header .search-icon{
        display: none;
    }
    #header .menu-mobile{
        display: block;
    }
    #header{
        overflow: hidden;
    }

    .section-team .member-mobile{
        width: 100%;
        margin-top: 30px;
    }
    .content .member-img{
        width: 60%;
    }



    /* class dùng chung */
    .s-col-full{
        width: 100% !important;
    }
    .s-mt8{
        margin-top: 8px !important;
    }
    .s-mt16{
        margin-top: 16px !important;
    }
    .s-mt32{
        margin-top: 32px !important;
    }
    .s-full-width{
        width: 100% !important;
    }
}
