*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif ;
    height: 1000px;
    scroll-behavior:smooth;
    
}

/* tạo class dùng chung  */
.row{
    margin-left: -8px;
    margin-right: -8px;
}   

.col{
    float:left;
    padding-left:  8px;
    padding-right:  8px;

}
.col-third{
    width: 33.33333%;
}
 
.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}
row::after{
    content: "";
    display: block;
    clear:both;
}

.text-center{
    text-align: center !important
}

.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}



/* main */

#header{
    width: 100%;
    height: 46px;
    background-color: black; 
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) ;
}

#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}
#nav li{
    
    position: relative;
    
}
#nav > li > a{
    color:white ;
}

#nav li a{

    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    
}
#nav .supnav  li:hover,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
}
#nav li:hover .supnav{
    display: block;
}

#nav .supnav a { 
    color:black;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 38px;
}

#nav , .supnav{
    list-style: none;
}   
#nav .supnav{
    list-style: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
    display: none;
    top: 100%;
    left: 0;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .menu-mobile,
#header > .search {
    float: right;
    padding:0px 20px;
}
#header .menu-mobile{
    position:absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .menu-icon,
#header .search-icon {
    color: white;
    font-size: 26px;
    line-height: 46px;
}

#header .search:hover {
    background-color: orangered;
    cursor: pointer; 
}
#header .menu-mobile:hover{
    background-color: #ccc;
    color: #000;
}
/* thay đổi dộ ưu tiên của màu icon */
#header .menu-mobile:hover .menu-icon{
    color: #000;
}

.slider{
    position: relative;
    background: url("../img/slider/slider1.jpg")top center/ cover no-repeat ;
    margin-top:46px ;
    padding-top: 50%;
     
}

.slider .text-in-img {
    position: absolute;
    color:white;
    bottom: 48px;
    width: 100%;
    text-align: center;
}
.slider .heading-chicago{
    font-weight: 400 ;
    font-size: 24px;
    margin: 10px 0;
    font-family: "Segoe UI",Arial,sans-serif;
}
.slider .heading-description{
    font-size: 15px;
    margin: 15px 0;
    text-shadow: 0 0 4px #000;

}
.content{
    overflow: hidden;
}
.section-content{
    width:  800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.content .section-headtheband{
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
}

.content .section-subheading{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lato", sans-serif ;
    font-style: italic;
    line-height: 1.5;
    opacity: 0.5;
    margin: 15px 0px;
}

.content .allcontent{
    display: block;
    margin: 15px 0px;
    text-align: justify;
    font-size: 15px;
    font-family: "Lato", sans-serif ;
    line-height: 1.5;
}
.content .section-team{
padding: 32px 0px;
width: 100%;
overflow: hidden;
}

.content  .team-name{
    font-size: 15px;
    margin: 15px 0px;
}
.content .member-img{
    width: 154px;
    border-radius:  6px;
}
.content .tour-section{
    background-color: black;
    color: white;
    
}
.tour-section .container{
    background-position: center;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 16px;
}

 .ticket{
    background-color: #fff;
    color: black;
}

.ticket li{
    padding: 11px 16px;
    font-size: 15px;
    border-bottom:1px solid #ddd;
    color: #757575;
    list-style-type: none;
}
.Sold-out{
    background-color:#f44336;
    margin-left: 24px;
    color:#fff;
    padding: 4px;
}
.quantity{
    margin-right: 16px;
    float: right;
    background-color: black;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    border-radius: 50px;
    margin-top: -4px;
}
.tour-place  {
    overflow: hidden;
    margin-top: 16px ;
    padding-bottom: 48px;
}
    
.placelist {
    color: #000;
}
 .place-img{
    width: 100%;
    display: block;
    
}
.place-img:hover{
    opacity: 0.6;
}
.place-content{
    background-color: white;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 16px;
}
.place-heading{
    margin: 15px 0px;
    font-size: 15px;
}
.place-time{
    margin: 15px 0px;
    color: #757575;
}
    
.place-decription{
margin: 15px 0px;
}
.buy-ticket{
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 10px 16px;
    margin-bottom: 32px;
}
.buy-ticket:hover{
    background-color: #757575;
    color: #000;
}

.modal{
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container {
    background-color: white;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: animationModal ease 0.5s;

}

.modal-container .modal-header{
    background-color: #009688;
}
.modal-header{
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: #fff;
}
.modal-close{   
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 12px;
    font-size: 10px;
}
.modal-close:hover{
    background-color:#f44336;
    color: #000;
    cursor: pointer;
}   

.ti-bag{
    margin-right:16px ;
}

.modal-body{
    padding: 0px 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin: 10px 0px;
}
.modal-input{
    width:100% ;
    border: #ccc solid 1px;
    padding:  11px ;
    font-size: 15px;
    margin-bottom: 10px;
}
.buy-ticket{
    background-color: #009688;
    width: 100%;
    padding: 16px;
    border: none;
    margin: 16px 0px;
    font-weight: bold;
}
.buy-ticket:hover{
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer{
    text-align: right;
    margin: 30px 16px;
    font-weight: lighter;
    font-size: 15px;
}
.modal-footer a{
    color: #2196F3;

}

@keyframes animationModal{
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/* contact form */

.contact{
    max-width:800px;
    height: 457px;
    padding: 64px 46px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;

}
.contact-content{
    padding: 32px 0px;
}
.contact-list{
    padding: 32px 0px;
}

.contact-info{
    font-size: 18px;
}
.contact-info a{
    color: blue;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}


.contact-input{
    font-size: 15px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-input .form-control{
    padding: 12px;
    border: #ccc solid 1px;
    width: 100%;
}
.contact-send{
    padding: 14px 16px;
    background-color: #000;
    color: #fff;
    margin: 16px 0px;
    border: none;
    float: right;
    appearance: none;
    -webkit-appearance: none;
}
.contact-send:hover{
    background-color:#ddd;
    color: #000;
    cursor: pointer;
}

/* map-section */
.map-section img{
    width: 100%;
    filter: grayscale(50%);
}

.footer{
    padding:64px 16px ;
    text-align: center;
}

.footer i{
    font-size: 22px;
}
.footer a{
    text-decoration:none;
    color: rgb(87, 82, 82);
}
.footer .coppyright{
    font-size: 15px;
    margin: 17px 0px;
    color: #757575;
}

.footer i:hover{
    color: #ccc;
}
.footer .coppyright a{
    text-decoration:underline;
}
